*{
    margin:0;
    font-family:Arial, Helvetica, sans-serif;
    border: border-box;
}
.navbar{
    display: flex;
    height:60px;
    background-color: #0f1111;
    color:white;
    align-items: center;

    
}
.navbar-logo{
    
    height:56px;
    width: 150px;
}
.logo{
    background-image: url("yay.png");
    
    height:56px;
    width: 132px;
    background-size: cover;
}
.border{
    border:2px solid transparent;
}
.border:hover{
    border:2px solid white;
}
.add-first{
    color:#cccccc;
    font-size: 12px;
    margin-left: 30px;
}
.add-sec{
    color:white;
    font-size: 14px;
}
.add-icon{
    display: flex;
    align-items: center;
    position: relative;
    left:10px;
    
}
.nav-search{
    display: flex;
    justify-content: space-evenly;
    width:860px;
    height:40px;
    background-color: rgb(201, 124, 68);
    border-radius: 5px;
    position: relative;
   left:30px;
}
.search-icon{
   width: 50px;
    color: black;
    
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 17px;
   
}
.search-select{
    border-top-left-radius: 5px;
    border-bottom-left-radius:5px ;
    background-color: #f3f3f3;
    width: 50px;
    text-align: center;
    border:none;
}
.search-input{
    width: 100%;
font-size: 15px;
border:none;
}
.nav-signin{
    position:relative;
    left:80px;
    font-size: 14px;
}
.list{
    
    font-size: 14px;
    font-weight: 700;
    background-color: #0f1111;
    color:white;
    border:none;
    position: relative;
    right:5px;
    
}

.nav-return{
     position:relative;
    left:110px;
    font-size: 14px;
}
.order{
     font-size: 14px;
    font-weight: 700;
    ;
}
.cart{
    position: relative;
    left:150px;
    font-size: 25px;
    display: flex;
    justify-content: center;
    position: relative;
    top:2px;
   
}
.cart1{
    font-size: 14px;
    font-weight: 700;
  position: relative;
  top:10px;
}
.nav-search:hover{
    border: 2px solid orange;
}
.panel{
    background-color: #222f3d;
    height:30px;
    display: flex;
    color:white;
    align-items: center;
    justify-content: space-evenly;
}
.panel-ops p{
    display: inline;
   margin-left: 10px;
}
.panel-ops{
    width:70%;
    font-size: 0.85rem;
}
.panel-deals{
    font-size: 0.9rem;
    font-weight: 700;
}
.content{
    background-image: url("one.jpg");
    background-size: cover;
    height:300px;
    
}
.shop{
    display: flex;
    justify-content: space-evenly;
    background-color: #e2e6e7;
}
.box{
    /* border: 2px solid black; */
    
    height: 250px;
    width: 23%;
    background-color: white;
    padding:20px 0px 15px;
}
.box-img{
    background-image: url("bo.jpg");
    background-size: contain;
    height:360px;
    width:300px;
    
}

.box-cont{
    margin-left: 10px;
    margin-right: 10px;
}
.box-img1{
    background-image: url("head.png");
    background-size: contain;
    height:360px;
    width:300px;
}
.box-img2{
    background-image: url("fur.png");
    background-size: contain;
    height:360px;
    width:330px;
}

   .box-img3{
    background-image: url("app.png");
    background-size: contain;
    height:360px;
    width:330px;
}
footer{
    margin-top: 15px;
}
 .foot-panel1{
    background-color: #37475a;
    color:white;
    height: 50px;
    width: 1580px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.85rem;
    position: absolute;
    top:900px;
 }
 .foot-panel2{
    background-color: #222f3d;
    color:white;
    height:430px;
 width: 1580px;
    
  
    font-size: 0.87rem;
    position: absolute;
    top:950px;
    
    
 }
 .font-one{
    font-size: 0.94rem;
    margin-top: 20px;
    margin-bottom: 20px;
    font-weight: 700;
    display: flex;
 }
 .rest-panel {
    margin-top: 13px;
    margin-bottom: 13px;
 }
  .rest-panel1{
    margin-top: 13px;
    margin-bottom: 13px;
 } .rest-panel2{
    margin-top: 13px;
    margin-bottom: 13px;
 } .rest-panel3{
    margin-top: 13px;
    margin-bottom: 13px;
    
 }
 .rest-panel4{
    margin-top: 13px;
    margin-bottom: 13px;
 } .rest-panel5{
    margin-top: 13px;
    margin-bottom: 13px;
 } .rest-panel6{
    margin-top: 13px;
    margin-bottom: 13px;
    
 }
 .rest-panel7{
    margin-top: 13x;
    margin-bottom: 13px;
 } 
 .hi{
   position: relative;
   left:480px;
   bottom:162px;
    
 }
 .hello{
    position: relative;
    left:100px;
    
 }
 .hi1{
    position: relative;
    left: 800px;
    bottom:294px;
 }
 .yo{
    position: relative;
    left:1200px;
    bottom: 580px;

 }
 .foot-logo{
    height:100px;
    width:1580px;
    position: relative;
    bottom:500px;
    border-top: 0.1px solid white;
   
 }
 .foot-icon{
    height:40px;
    width:100px;
    background-image: url("ama.png");
    background-size: contain;
    
    position: relative;
    left:600px;
    top: 35px;
 }
 .globe{
    background-color: #222f3d;
    font-weight: 500;
    color: white;
    position: relative;
    left:220px;
    bottom:14px;
   
 }
 .globe-icon{
    height: 20px;
    width: 20px;
    color:white;
    background-color: #222f3d;
    display: flex;
    position: relative;
    left:200px;
    top:7px;
 }