*{
    margin:0;
    font-family:Arial, Helvetica, sans-serif;
    border: border-box;
}
.navbar{
    display: flex;
    height:60px;
    background-color: #0f1111;
    color:white;
    align-items: center;

    
}
.navbar-logo{
    
    height:56px;
    width: 150px;
}
.logo{
    background-image: url("yay.png");
    
    height:56px;
    width: 132px;
    background-size: cover;
}
.border{
    border:2px solid transparent;
}
.border:hover{
    border:2px solid white;
}
.add-first{
    color:#cccccc;
    font-size: 12px;
    margin-left: 30px;
}
.add-sec{
    color:white;
    font-size: 14px;
}
.add-icon{
    display: flex;
    align-items: center;
    position: relative;
    left:10px;
    
}
.nav-search{
    display: flex;
    justify-content: space-evenly;
    width:860px;
    height:40px;
    background-color: rgb(201, 124, 68);
    border-radius: 5px;
    position: relative;
   left:30px;
}
.search-icon{
   width: 50px;
    color: black;
    
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 17px;
   
}
.search-select{
    border-top-left-radius: 5px;
    border-bottom-left-radius:5px ;
    background-color: #f3f3f3;
    width: 50px;
    text-align: center;
    border:none;
}
.search-input{
    width: 100%;
font-size: 15px;
border:none;
}
.nav-signin{
    position:relative;
    left:80px;
    font-size: 14px;
}
.list{
    
    font-size: 14px;
    font-weight: 700;
    background-color: #0f1111;
    color:white;
    border:none;
    position: relative;
    right:5px;
    
}

.nav-return{
     position:relative;
    left:110px;
    font-size: 14px;
}
.order{
     font-size: 14px;
    font-weight: 700;
    ;
}
.cart{
    position: relative;
    left:150px;
    font-size: 25px;
    display: flex;
    justify-content: center;
    position: relative;
    top:2px;
   
}
.cart1{
    font-size: 14px;
    font-weight: 700;
  position: relative;
  top:10px;
}
.nav-search:hover{
    border: 2px solid orange;
}
.panel{
    background-color: #222f3d;
    height:30px;
    display: flex;
    color:white;
    align-items: center;
    justify-content: space-evenly;
}
.panel-ops p{
    display: inline;
   margin-left: 10px;
}
.panel-ops{
    width:70%;
    font-size: 0.85rem;
}
.panel-deals{
    font-size: 0.9rem;
    font-weight: 700;
}
.content{
    background-image: url("one.jpg");
    background-size: cover;
    height:300px;
    
}
.shop{
    display: flex;
    justify-content: space-evenly;
    background-color: #e2e6e7;
}
.box{
    /* border: 2px solid black; */
    border-radius: 10px;
    height: 400px;
    width: 23%;
    background-color: white;
    padding:20px 0px 15px;
}
.box-img{
    background-image: url("bo.jpg");
    background-size: contain;
    height:360px;
    width:300px;
    
}

.box-cont{
    margin-left: 10px;
    margin-right: 10px;
}
.box-img1{
    background-image: url("head.png");
    background-size: contain;
    height:360px;
    width:300px;
}
.box-img2{
    background-image: url("fur.png");
    background-size: contain;
    height:360px;
    width:330px;
}

   .box-img3{
    background-image: url("app.png");
    background-size: contain;
    height:360px;
    width:330px;
}
 